[Desktop Entry]
Name=PopNetwork
Version=1.0
GenericName=BitTorrent Client
X-GNOME-FullName=PopNetwork
Comment=Download and share files over BitTorrent
Encoding=UTF-8
Type=Application
Icon=popnetwork-desktop
Terminal=false
Path=/opt/popnetwork-desktop
Exec=/opt/popnetwork-desktop/PopNetwork %U
TryExec=/opt/popnetwork-desktop/PopNetwork
StartupNotify=false
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;x-scheme-handler/stream-magnet;

Actions=CreateNewTorrent;OpenTorrentFile;OpenTorrentAddress;

[Desktop Action CreateNewTorrent]
Name=Create New Torrent...
Exec=/opt/popnetwork-desktop/PopNetwork -n
Path=/opt/popnetwork-desktop

[Desktop Action OpenTorrentFile]
Name=Open Torrent File...
Exec=/opt/popnetwork-desktop/PopNetwork -o
Path=/opt/popnetwork-desktop

[Desktop Action OpenTorrentAddress]
Name=Open Torrent Address...
Exec=/opt/popnetwork-desktop/PopNetwork -u
Path=/opt/popnetwork-desktop
